.lead-heading {
  padding-left: 4.2rem;
  padding-block: 1.04rem;
  background-color: var(--clr-white);
  font-family: "Open Sans", sans-serif;
}
.add-lead {
  margin-top: 2rem;
  margin-inline: 4.2rem;
  justify-content: space-between;
  align-items: center;
}
.add-lead a {
  font-size: 1rem;
  background-color: rgb(9, 128, 175);
  color: white;
  outline: none;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.56rem;
  border-radius: 5px;
  letter-spacing: 1.5px;
}

.filters {
  display: flex;
  margin-inline: 4.2rem;
  margin-top: 2rem;
  justify-content: space-between;
}

.searchLead {
  font-size: 1rem;
  outline: none;
  border: 1px solid rgb(235, 233, 233);
  padding-block: 0.334rem;
  padding-inline: 0.334rem;
  border-radius: 4px;
}
.searchLead::placeholder {
  color: rgb(167, 166, 166);
}
.status-priority {
  display: flex;
  gap: 1rem;
}
#filterByStatus,
#sortByPriority {
  font-size: 0.96rem;
  outline: none;
  border: 1px solid rgb(235, 233, 233);
  padding-block: 0.334rem;
  padding-inline: 0.434rem;
  border-radius: 4px;
}

.leads-headings {
  display: flex;
  margin-inline: 4.2rem;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding-block: 1rem;
  padding-inline: 2.3rem;
  justify-content: space-between;
  background-color: #07348a;
  color: white;
  margin-top: 2rem;
  letter-spacing: 1px;
  justify-items: center;
  align-items: center;
}

.leads-container {
  margin-inline: 4.2rem;
  margin-bottom: 2rem;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.leads-list {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  padding-inline: 1rem;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
}
.leads-list div {
  width: 15rem;
}

.leads-list a {
  color: white;
  background-color: green;
  padding: 0.54rem 0.84rem;
  border-radius: 3px;
  letter-spacing: 1px;
}

@media (max-width: 998px) {
  .leads-container,
  .leads-headings,
  .filters {
    margin-inline: 1.5rem;
  }
}

.no-leads {
  margin-block: 5rem;
  text-align: center;
}
.no-leads img {
  width: 400px;
  height: 400px;
}
.no-leads h3 {
  margin-bottom: 0.56rem;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
}
.no-leads p {
  font-size: 1.2rem;
  color: rgb(117, 115, 115);
}
